---
import urlImage from "../assets/urlImg.png";
---

<header class="flex flex-col md:flex-row items-center justify-between py-4 px-4 md:px-8">
    <div class="flex items-center justify-center mb-4 md:mb-0">
        <img src={urlImage.src} alt="asd" class="w-15 h-15 ml-6" />
        <span class="ml-4 font-bold text-white">WeeURL</span>
    </div>
    <nav class="flex flex-col md:flex-row gap-4 md:gap-6 justify-center md:justify-start">
        <a href="/" class="font-bold text-white hover:bg-[#6633ee] transition-colors rounded-2xl px-3 py-2 text-center">Inicio</a>
        <a href="/ayuda" class="font-bold text-white hover:bg-[#6633ee] transition-colors rounded-2xl px-3 py-2 text-center">Ayuda</a>
        <button id="loginButton" class="font-bold text-white hover:bg-[#6633ee] transition-colors rounded-2xl px-3 py-2 text-center cursor-pointer">Login</button>
    </nav>
</header>