<div id="loginModal" class="fixed inset-0 flex items-center justify-center hidden bg-black/60 transition-opacity duration-300">
    <div class="bg-white p-8 rounded-lg shadow-lg transform transition-transform duration-300 scale-95 shadow-[#8d6aed] shadow-lg">
        <h2 id="loginField" class="text-2xl mb-4 text-center text-gray-600">Login</h2>
        <form>
            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                <input type="email" id="email" class="text-gray-600 border-2 mb-2 border-[#6633ee]/60 focus:outline-none focus-within:border-[#6633ee] rounded-lg p-2 mt-2 w-full" placeholder="Email" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700">Contraseña</label>
                <input type="password" id="password" class="text-gray-600 border-2 mb-2 border-[#6633ee]/60 focus:outline-none focus-within:border-[#6633ee] rounded-lg p-2 mt-2 w-full" placeholder="Contraseña" required>
            </div>
            <div id="extraField" class="mb-4 hidden">
                <label for="username" class="block text-gray-700">Nombre de usuario</label>
                <input type="text" id="username" class="text-gray-600 border-2 mb-2 border-[#6633ee]/60 focus:outline-none focus-within:border-[#6633ee] rounded-lg p-2 mt-2 w-full" placeholder="Nombre de usuario">
            </div>
            <button type="submit" class="bg-[#6633ee]/60 hover:bg-[#6633ee] rounded-2xl text-white/90 hover:text-white font-bold h-10 w-full transition-colors">
                Enviar
            </button>
        </form>
        <div class="mt-4 text-center text-gray-600 flex justify-center items-center">
            <p id="labelRegistro" class="mr-2">¿No tienes una cuenta?</p>
            <a href="#" id="toggleExtraField" class="text-[#6633ee] hover:underline">Regístrarse</a>
        </div>
    </div>
</div>